
html{
   scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    word-break: break-word;
    word-wrap: break-word;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: auto;
}

p {
    line-height: 1.5;
    margin: 0 0 1em 0;
    padding-bottom: 10px;
}
b , strong {
    font-weight: 700;
}
img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
}
.fixed-style{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
@media (max-width: 1024px){
    .fixed-style{
        flex-wrap: wrap;
    }
}
/* header style */
header{
    padding: 12px 0 0;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E6E6E6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: -80px;
    padding: 12px 100px 12px 100px;
    z-index: 9995;
 position: relative;
 background-color: #FFFFFF;

}

.logo-img img{
    height: auto;
    width: 365px;
    max-width:100% ;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.header-nav{
    width: 100%;

}
@media (min-width: 768px){
    .logo-img  {
        width: 27.101%;
    }
}
@media (max-width: 1024px) and (min-width: 768px){
    .logo-img  {
        width: 50%;
    }
}
@media (max-width: 767px){
    .logo-img  {
        width: 70%;
    }
    .logo-img  img {
        width: 85%;
    }
}


button.navbar-toggler.bar-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 22px;
    padding: 0.25em;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border:1px solid;
}
.bar-icon , .close-icon {
    width:21.7px;
    height:21px;
    display: inline-block;
    font-family: eicons;
    font-size: inherit;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

 button.navbar-toggler:focus {
    box-shadow: none;
    
}


.header-nav ,
.nav-item{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

 .navbar-nav .nav-link {
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
    letter-spacing: -0.45px;
    color: #7a7a7a;
    fill: #000000;
    position: relative;
    padding: 4px 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494c4f;
   
  
}
a.nav-link.dropdown-toggle {
    line-height:20px;
}

 .navbar-nav .nav-link:before {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    height: 100%;
    width: 0;
    transition: .3s;
    background-color: #000;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: -1;
  }


ul.dropdown-menu.show {
    border: none;
}

.dropdown-item:hover {
  color:#fff;
    background-color: #000;
}
ul.dropdown-menu.show {
    padding-top: 0;
    margin-top: 0;
}
ul.dropdown-menu li {
    padding: 13px 20px;
}
ul.dropdown-menu.show li {
        min-height: 35px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
}
ul.dropdown-menu.show li a {
    font-family: "Roboto", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1.53px;
    color: #494c4f;
    
}
ul.dropdown-menu.show li:hover {
    background-color: #000;
   color:#ffff;
}
ul.dropdown-menu.show li:hover > a {
   color:#ffff;
}


@media (min-width:1318px) {
    .header-nav{
        justify-content: flex-end;
    }

}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem; 
    padding-left: 1rem; 
}
.navbar-nav .nav-link:hover:before{
    width:100%;
  }
.navbar-nav .nav-link:hover{
    color: #FFFFFF;
  }
}
@media (max-width: 992px){
    .navbar-nav .nav-link{
        text-transform: uppercase;
        padding: 10px 20px;
        font-size:14px;
    }
    div#navbarSupportedContent {
        position: absolute;
        top: 47.5938px;
        width: 100vw;
        left: -100px;
        margin-top: 29px !important;
        max-height: 100vh;
        z-index: 9999;
        background-color: white;    
    }
  
    ul.dropdown-menu.show {
        width: 100vw;
        text-align: center;
        margin-bottom: -4px;
        
    }
 
    .navbar-nav .nav-link:hover:before{
        width:0;
      
      }
      li.nav-item {
        width:100%
    }
      li.nav-item:hover{
       background-color: #000;
      }
      li.nav-item:hover .nav-link{
        color: #FFFFFF;
      }   
}
@media (min-width:1318px) {
    .header-nav{
        justify-content: flex-end;
    }
}

/* strt talk-section style */
.talk-section{

}
.talk-section-content{
    background-color: #FBFBFB;
    padding: 80px 0px 0px 0px;
    overflow: hidden;
}
.talk-section-content-info-content{
    padding: 4% 4% 4% 15.8%;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    align-items: center;
}
.talk-section-content-info-content-head{
    margin-bottom: 0px;
    width:100%;
}
.talk-section-content-info-content-head-content{
    margin: 0px 0px 0px -3px;
    text-align: left;
}
.talk-section-content-info-content-head-content h1{
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 68px;
    font-weight: 200;
    /* font-weight: 100; */
    text-transform: capitalize;
    line-height: 54px;
}
.talk-section-content-info-content-line{
     margin-bottom: 0px;
     width: 100%;
    --divider-border-style: solid;
    --divider-color: #9AA8BA;
    --divider-border-width: 1px;
}
.talk-section-content-info-content-line-content{
    padding-top: 17px;
    padding-bottom: 17px;
    display: flex;
}
.talk-section-content-info-content-line-content span{
    width: 100%;
    border-top: var(--divider-border-width) 
    var(--divider-border-style) var(--divider-color);
    display: flex;
    margin: 0;
    direction: ltr;
}
.talk-section-content-info-content-text{
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}
.talk-section-content-img{
    display: flex;
    position: relative;
}
.talk-section-content-img-content{
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    background-image: url(https://danneundorf.com/wp-content/uploads/2022/03/Booking-banner3.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    align-items: center;
    --spacer-size: 50px;
    height: var(--spacer-size);
}

@media (max-width: 1024px){
 
    .talk-section-content{
        min-height: 90vh;
    }
    .talk-section-content-info-content{
        padding: 10px 15px 18px 15px;
    }
    .talk-section-content-info-content-head-content h1{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -1px;
    }
    .talk-section-content-info-content-line-content{
        text-align: center;
    }
    .talk-section-content-info-content-line-content span{
        margin: 0 auto;
    }
    .talk-section-content-info-content-text{
        font-size: 15px;
        line-height: 21px;
    }
    .talk-section-content-img-content{
        background-position: top center;
    }
    .talk-section-content-img{
        width:100%;
        order:-1;
     }
    .talk-section-content-img-content{
        --spacer-size: 480px;
    }
  
}
@media (max-width: 767px){
    /* .talk-section{
        flex-wrap: wrap;
    } */
    .talk-section-content{
        padding: 0px 0px 0px 0px;
    }
    .talk-section-content-info{
        order: 10;
        width: 100%;
    }
    .talk-section-content-info-content{
        padding: 15px 15px 25px 15px;
    }
    .talk-section-content-info-content-head{
        text-align: left;
    }
    .talk-section-content-info-content-head-content{
        padding: 0% 0% 0% 0%;
    }
    .talk-section-content-info-content-head-content h1{
        font-size: 36px;
        line-height: 44px;
    }
    .talk-section-content-info-content-text{
        text-align: left;
        font-size: 14px;
        line-height: 20px;
    }
    .talk-section-content-info-content-text-content{
        padding: 0% 0% 0% 0%;
    }
  
     .talk-section-content-img-content{
        --spacer-size: 315px;
    }
}
@media (min-width:1024px){
    .talk-section-content-info {
        width: 50%;
    }
    .talk-section-content-img{
          width: 50%;

    }
    .talk-section-content-img-content{
        height: 100%;
    }
}
/* strt head-section style */
.head-section{
    padding: 35px 190px 0px 190px;
}
.head-section-content{
    max-width: 1140px;
    width:100%;
}
.head-section-content-head{
    padding: 10px;
    display: flex;
    position: relative;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width:100%;
    text-align:center;
}
.head-section-content-head h2{
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    width: 100%;
    letter-spacing: -0.0415625em;
}


@media (max-width: 1024px){
    .head-section{
        padding: 15px 0px 0px 0px;
    }
    .head-section-content{
        max-width: 100%;
    }
    .head-section-content-head h2{
        font-size: 36px;
    }  
}
@media (max-width: 767px){
    .head-section-content-head h2{
        font-size: 26px;
        line-height: 28px;
    }
}
@media (min-width:1024px){
  
}
/* start image-section style */
.image-section{
    padding: 30px 0px 30px 0px;
}
.image-section.first-img-section{
    padding: 0px 0px 30px 0px;
}
.image-section-content{
    max-width: 1605px;
}
.image-section-content h2{
    letter-spacing: -0.0415625em;
}
.image-section-content-img{
  width:100%;
  text-align: center;
}
.image-section-content-img-content , .image-section-content-info-content {
    padding: 15px;
}
.image-section-content-info{
    position: relative;
    width: 100%;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.image-section-content-info-content-head , .image-section-content-info-content-text , .image-section-content-info-content-mini-head {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}
.image-section-content-info-content-head h2{
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}
.image-section-content-info-content-text h2{
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
}
.image-section-content-info-content-text-list {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.image-section-content-info-content-text-list-item {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.image-section-content-info-content-text-list-item .icon-span  {
   display:flex;
}
.image-section-content-info-content-text-list-item .icon-span .fa-circle {
    color: #6C6C6C;
    width: 1.25em;
    font-size: 6px;
}
.image-section-content-info-content-text-list-item .text-span  {
    font-family: "Prompt", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    align-self: center;
    padding-left: 5px;
}
.image-section-content-info-content-mini-head h2{
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3em;
}
@media (max-width: 1024px){
    .image-section{
        padding: 0px 0px 0px 0px;
    }
    .image-section-content{
        max-width: 100%;
    }
    .first-img-section .image-section-content-img-content {
        padding: 0px 15px 0px 15px;
      }
      .image-section-content-info-content-head h2  {
        font-size: 28px;
    }
    
     .image-section-content-info-content-mini-head h2 , .image-section-content-info-content-text h2 , .text-span{
        font-size: 15px;
    }
   
}
@media (max-width: 767px){
    .image-section-content-info-content-head h2{
        font-size: 24px;
    }
    .image-section-content-info-content-text h2{
        font-size: 15px;
    }
    .text-span{
        font-size: 14px;
    }
}
@media (min-width:1024px){
    .image-section-content-img , .image-section-content-info{
        width:50%;
      }
  .image-section-content-info.left-text{
       order:-1;
      }
}
/* strt line-section left-text style */
.left-text .image-section-content-info-content-head h2{
    text-transform: none;
    font-size:36px;
   }
.left-text .image-section-content-info-content-text h2{
    font-size: 18px;
   }
.left-text .text-span {
    font-size: 18px;
    font-weight: 400;
    color:#54595F;
   }
.left-text .mini-head h2 {
    font-size: 18px;
    font-weight: 500;
   }

.left-text .image-section-content-info-content-text h2.bold-text{
font-size: 16px;
}
@media (min-width:1024px){
  .image-section-content-info.left-text{
       order:-1;
      }
}
@media (max-width:1024px){
  .left-text .image-section-content-info-content-head h2{
    font-size:28px;
  }
  h2.bold-text{
    font-weight: 500;
    font-size: 16px;
}
}
@media (max-width:767px){
    .left-text .image-section-content-info-content-head h2{
        font-size:24px;
      }
      .left-text .image-section-content-info-content-text h2{
        font-size: 14px;
       }
       .left-text .text-span {
        font-size: 14px;
       }
       .left-text .mini-head h2 {
        font-size: 14px;
    }
    .bold-text{
        font-size: 14px;
    }
}
.third-img-section .text-span{
    font-size: 15px;
    color: #000000;
    letter-spacing: -0.015em;
}
h2.bold-text{
    color: #404041;
    line-height: 1.3em;
}
.second-left-text-section{
    letter-spacing: -0.0415625em;
}
.second-left-text-section .image-section-content-info-content-head h2 {
    text-transform: none;
    font-size: 36px;
    color: #000000;
    font-family: "Prompt", Sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em;
}
.second-left-text-section .image-section-content-info-content-text h2.bold-text {
    /* font-size: 15px; */
    font-weight: 300;
}

.second-left-text-section .left-text span.text-span  {
    font-weight: 300;
    font-size:16px;
    color: #000000;
    letter-spacing: -0.015em;
}
.second-left-text-section .image-section-content-info-content-mini-head h2 {
    font-weight: 500;
}
@media (max-width: 1024px){
    .second-left-text-section .image-section-content-info-content-text h2.bold-text {
        font-size: 15px;
        font-weight:500;
    }
    .second-left-text-section .left-text span.text-span  {
        font-size: 15px;
    }
}
/* strt line-section style */
.line-section{

}
.line-section-content{
    max-width: 1605px;
}
.line-section-content-line{
    display: flex;
    position: relative;
    padding: 10px;
    width: 100%;
    --divider-border-style: solid;
    --divider-color: #1770AA;
    --divider-border-width: 1px;
}
.line-section-content-line-content{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.line-section-content-line-content span{
    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color);
    display: flex;
    margin: 0;
    direction: ltr;
    width:100%;
}

@media (max-width: 1024px){
    .line-section{
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }  
    .line-section-content{
        max-width: 100%;
    }
}
@media (max-width: 767px){
    /* .line-section-content-line{
        width: 100%;
    } */

}
@media (min-width:1024px){
   
}

/* strt about-d/dan style */
.about-section{
    background-image: url(https://danneundorf.com/wp-content/uploads/2022/03/OE021-1.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 190px 0px 190px;
    width:100%;
    position: relative;
}

.about-section-overlay{
    background-color: #000000;
    opacity: 0.68;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.about-section-content-info{
    position: relative;
    display: flex;
    width: 50%;
}
.about-section-content-info-content{
    display: flex;
    padding: 10px;
    align-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}
.about-section-content-info-content-head{
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.about-section-content-info-content-head h2{
    color: #FFFFFF;
    font-family: "Prompt", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;    
    padding: 0;
    margin: 0;
    line-height: 1;
}
.about-section-content-info-content-second-head {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}
.about-section-content-info-content-second-head h2{
    color: #FFFFFF;
    font-family: "Prompt", Sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.about-section-content-info-content-mini-head{
    text-align: left;
    width: 100%;
    position: relative;
}
.about-section-content-info-content-mini-head h2{
    color: #FFFFFF;
    font-family: "Prompt", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3em;
}
.about-section-content-img{
    width: 50%;
    position: relative;
    display:flex;
    /* flex:1; */
    text-align: center;
}
.about-section-content-img-content{
    padding: 0px 0px 0px 0px;
    width:100%
}


@media (max-width: 1024px){
    .about-section{
        padding: 10px 10px 10px 10px;
    }
    .about-section-content-info-content-head h2{
        font-size: 15px;
    }
    .about-section-content-info-content-mini-head h2{
        font-size: 15px;
    }
 
}
@media (max-width: 767px){
    .about-section-content-info,  .about-section-content-img{
        width:100%;
    }
    .about-section-content-info-content-head h2{
        font-size: 14px;
    }
    .about-section-content-info-content-second-head h2{
        font-size: 24px;
    }
    .about-section-content-info-content-mini-head h2{
        font-size: 14px;
    }
    
}
@media (min-width:1024px){
   
}
/* strt last-head-section style */
.last-head-section{
    padding: 25px 0px 25px 0px;
    width:100;
    position: relative;
}
.last-head-section-content{
    max-width: 1140px;
}
.last-head-section-content{
    max-width: 100%;
}
.last-head-section-content-info{
    padding: 10px;
    
}
.last-head-section-content-info-content{
    text-align: center;
    width: 100%;
    position: relative;

}
.last-head-section-content-info-content h2{
    color: #404041;
    font-family: "Prompt", Sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.5em;
}
.last-head-section-content-info-content h2 a{
    color: #000000DE;
    font-family: "Helvetica", Sans-serif;
    box-shadow: none;
    text-decoration: none;
}



@media (max-width: 1024px){
    .last-head-section{
        padding: 0px 0px 0px 0px;
    }
    .last-head-section-content-info-content h2{
        font-size: 28px;
    }
   
}
@media (max-width: 767px){
    .last-head-section-content-info-content h2{
        font-size: 24px;
    }
}
@media (min-width:1024px){
   
}
/* strt contact style */
.contact{
    padding: 4% 0% 4% 0%;
    background-image: url(https://danneundorf.com/wp-content/uploads/2022/03/Slider-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.contact:after {
    content:"";
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    background-color: #363333;
    opacity: 0.78;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.contact-content{
    padding: 10px;
}
.contact-head {
text-align:center;
margin-bottom:20px;
}
.contact-head span{
    color: #FFFFFF;
    font-family: "Helvetica", Sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
    line-height:1;
    text-transform: uppercase;
}
.contact-text p{
    text-align:center;
}
.contact-text p{
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.contact-text a{
    color: #FFFFFF;
    text-decoration: none;
}
/* strt footer style */
footer{
    background-color: #2b2b2b;
   /* padding: 35px 0px 35px 0px; */
    
}
.footer-top{
    max-width: 1140px;
    margin: auto;
    padding: 35px 0px 35px 0px;
    
}
.footer-top-content{
    width:100%;
    display:flex;
}


.footer-desc{
    text-align: center;
 
}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-desc{
    padding: 12px 0px 0px 0px;
}    
.footer-desc h2{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 22px;
    font-weight: 600;
}    

.footer-img img{
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    vertical-align: middle;
    display: inline-block;
    
}
footer .footer-icon  {
  gap:22px;
}
footer .footer-icon  a{
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 10%;
    position: relative;
    font-size: 26px;
    line-height: 26px;
    width: calc(26px + (2 * 0em));
    height: calc(26px + (2 * 0em));
    background-color: #FFFFFF00;
    --icon-padding: 0em;
}

footer .footer-icon a:hover{
     background-color: rgba(255,255,255,0);
     opacity: .9;
}


.copy-write{
        color: #7A7A7A;
        font-family: "Roboto", Sans-serif;
        font-weight: 400;   
}
.copy-write p{
    padding-bottom: 10px;
}
.copy-write a{
      text-decoration:none; 
}
.footer-bottom {
    padding: 35px 0px 35px 0px;
}
@media (max-width: 1024px){
    .footer-top-content{
        max-width: 1024px;
        flex-wrap:wrap;
    }
    .footer-top {
     padding: 35px 25px 35px 25px ;
    }
}
@media (max-width: 767px){
    .footer-top-content{
        max-width: 767px;
    }
    .footer-top {
       padding: 35px 25px 35px 25px ;
}

.footer-img {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-img img{
    width: 150px;
    max-width: 45%;
}
.footer-desc{
    width: 100%;
    text-align: center;
    padding: 16px 0px 12px 0px;
} 
.footer-icon{
    justify-content:center;
}
.copy-write{
    text-align:center;
    font-size:14px;
  }
}
@media (min-width: 768px)    {
    .footer-img{
      width: 23.595%;
        }
    .footer-desc{
        width: 76.361%;
        text-align: right;
    }    
    .footer-icon{
        justify-content: flex-end;
    }
 
}

